# Data Preprocessing

In [1]:
import sys
sys.path.append('..')
from data_preprocessing import DataPreprocessor
import config

In [2]:
preprocessor = DataPreprocessor()

In [3]:
df = preprocessor.load_data()

2025-02-13 01:54:17,156 - INFO - Loading data from ../data\financial_data.csv

In [5]:
df.head()

,entry_id,age,pay_schedule,home_owner,income,months_employed,years_employed,current_address_year,personal_account_m,personal_account_y,...,amount_requested,risk_score,risk_score_2,risk_score_3,risk_score_4,risk_score_5,ext_quality_score,ext_quality_score_2,inquiries_last_month,e_signed
0,7629673,40,bi-weekly,1,3135,0,3,3,6,2,...,550,36200,0.737398,0.903517,0.487712,0.515977,0.580918,0.380918,10,1
1,3560428,61,weekly,0,3180,0,6,3,2,7,...,600,30150,0.738510,0.881027,0.713423,0.826402,0.730720,0.630720,9,0
2,6934997,23,weekly,0,1540,6,0,0,7,1,...,450,34550,0.642993,0.766554,0.595018,0.762284,0.531712,0.531712,7,0
3,5682812,40,bi-weekly,0,5230,0,6,1,2,7,...,700,42150,0.665224,0.960832,0.767828,0.778831,0.792552,0.592552,8,1
4,5335819,33,semi-monthly,0,3590,0,5,2,2,8,...,1100,53850,0.617361,0.857560,0.613487,0.665523,0.744634,0.744634,12,0

In [6]:
preprocessed_df = preprocessor.preprocess_data(df)
preprocessed_df.head()

,entry_id,age,home_owner,income,years_employed,current_address_year,has_debt,amount_requested,risk_score,risk_score_2,...,risk_score_4,risk_score_5,ext_quality_score,ext_quality_score_2,inquiries_last_month,e_signed,personal_account_months,pay_schedule_bi-weekly,pay_schedule_monthly,pay_schedule_weekly
0,7629673,40,1,3135,3,3,1,550,36200,0.737398,...,0.487712,0.515977,0.580918,0.380918,10,1,30,True,False,False
1,3560428,61,0,3180,6,3,1,600,30150,0.738510,...,0.713423,0.826402,0.730720,0.630720,9,0,86,False,False,True
2,6934997,23,0,1540,0,0,1,450,34550,0.642993,...,0.595018,0.762284,0.531712,0.531712,7,0,19,False,False,True
3,5682812,40,0,5230,6,1,1,700,42150,0.665224,...,0.767828,0.778831,0.792552,0.592552,8,1,86,True,False,False
4,5335819,33,0,3590,5,2,1,1100,53850,0.617361,...,0.613487,0.665523,0.744634,0.744634,12,0,98,False,False,False

In [7]:
preprocessor.save_processed_data(preprocessed_df)

2025-02-13 01:54:48,750 - INFO - Saving processed data to ../data\processed_financial_data.csv

In [8]:
X_train, X_test, y_train, y_test,users = preprocessor.split_data(df = preprocessed_df)

2025-02-13 01:54:54,089 - INFO - Data split into training and testing sets: X_train shape: (14326, 19), X_test shape: (3582, 19)

In [9]:
X_train.head()

,age,home_owner,income,years_employed,current_address_year,has_debt,amount_requested,risk_score,risk_score_2,risk_score_3,risk_score_4,risk_score_5,ext_quality_score,ext_quality_score_2,inquiries_last_month,personal_account_months,pay_schedule_bi-weekly,pay_schedule_monthly,pay_schedule_weekly
5957,43,0,3295,0,2,1,500,31700,0.584310,0.836281,0.706562,0.689824,0.475014,0.475014,13,54,False,False,True
16854,37,0,3580,4,1,1,400,49500,0.805133,0.911328,0.533152,0.817170,0.628865,0.528865,4,39,False,True,False
4429,34,1,3040,1,1,0,500,38900,0.739929,0.796979,0.572134,0.623745,0.705180,0.505180,11,50,True,False,False
13607,60,1,2700,5,10,1,400,50550,0.633806,0.970787,0.425184,0.593275,0.837044,0.737044,6,100,True,False,False
3750,24,0,2095,6,10,1,600,73050,0.669362,0.860915,0.468355,0.744855,0.638230,0.838230,3,42,True,False,False

In [10]:
X_train_scaled, X_test_scaled = preprocessor.scale_features(X_train, X_test)

2025-02-13 01:55:04,043 - INFO - Scaling features using StandardScaler

In [11]:
X_train_scaled.head()

,age,home_owner,income,years_employed,current_address_year,has_debt,amount_requested,risk_score,risk_score_2,risk_score_3,risk_score_4,risk_score_5,ext_quality_score,ext_quality_score_2,inquiries_last_month,personal_account_months,pay_schedule_bi-weekly,pay_schedule_monthly,pay_schedule_weekly
5957,-0.005991,-0.856349,-0.242358,-1.567782,-0.573557,0.507058,-0.642580,-1.905162,-1.190501,-0.766112,0.979893,-0.229380,-1.060059,-1.057386,1.784494,0.368965,-1.224638,-0.302360,1.976827
16854,-0.509890,-0.856349,-0.052592,0.206559,-0.937970,0.507058,-0.785621,-0.749184,1.254553,0.607772,-0.396208,0.823356,0.041801,-0.672086,-0.663369,-0.280906,-1.224638,3.307315,-0.505861
4429,-0.761840,1.167748,-0.412149,-1.124197,-0.937970,-1.972161,-0.642580,-1.437575,0.532590,-1.485619,-0.086860,-0.775633,0.588358,-0.841550,1.240525,0.195666,0.816568,-0.302360,-0.505861
13607,1.421722,1.167748,-0.638537,0.650144,2.341745,0.507058,-0.785621,-0.680994,-0.642460,1.696278,-1.252980,-1.027524,1.532749,0.817422,-0.119399,2.361903,0.816568,-0.302360,-0.505861
3750,-1.601671,-0.856349,-1.041374,1.093729,2.341745,0.507058,-0.499539,0.780214,-0.248764,-0.315136,-0.910402,0.225551,0.108871,1.541402,-0.935353,-0.150932,0.816568,-0.302360,-0.505861

# Visualization

In [12]:
from utils import DataVisualizer

In [13]:
dv = DataVisualizer()

In [14]:
dv.plot_histograms(df = preprocessed_df)

2025-02-13 01:55:16,969 - INFO - Histograms saved to ../graphs\histograms.png

In [15]:
dv.plot_correlation_heatmap(df = preprocessed_df)

2025-02-13 01:55:19,759 - INFO - Correlation heatmap saved to ../graphs\correlation_heatmap.png

# Modeling

In [16]:
from modeling import Modeling

In [17]:
md = Modeling()

2025-02-13 01:55:23,400 - INFO - Modeling class initialized

In [18]:
results_df, model_rf_gs_gini = md.compare_models(X_train= X_train_scaled,
                                                 X_test= X_test_scaled,
                                                 y_train= y_train,
                                                 y_test= y_test)

2025-02-13 01:55:25,776 - INFO - Comparing different models
2025-02-13 01:55:25,777 - INFO - Training Logistic Regression model
2025-02-13 01:55:25,829 - INFO - Evaluating model performance
2025-02-13 01:55:25,845 - INFO - Training SVM model with linear kernel
2025-02-13 01:56:50,639 - INFO - Evaluating model performance
2025-02-13 01:56:51,927 - INFO - Training SVM model with RBF kernel
2025-02-13 01:58:03,334 - INFO - Evaluating model performance
2025-02-13 01:58:07,950 - INFO - Training Random Forest model
2025-02-13 01:58:16,862 - INFO - Evaluating model performance
2025-02-13 01:58:16,963 - INFO - Starting grid search for Random Forest with criterion: entropy
2025-02-13 02:13:25,849 - INFO - Grid search with entropy took 908.88 seconds
2025-02-13 02:18:29,713 - INFO - Refined grid search with entropy took 303.86 seconds
2025-02-13 02:18:29,714 - INFO - Best params (entropy): {'bootstrap': True, 'criterion': 'entropy', 'max_depth': None, 'max_features': 5, 'min_samples_leaf': 2, 'min_samples_split': 12} with score: 0.6356
2025-02-13 02:18:29,715 - INFO - Evaluating model performance
2025-02-13 02:18:29,803 - INFO - Starting grid search for Random Forest with criterion: gini
2025-02-13 02:29:12,549 - INFO - Grid search with gini took 642.74 seconds
2025-02-13 02:33:58,074 - INFO - Refined grid search with gini took 285.52 seconds
2025-02-13 02:33:58,075 - INFO - Best params (gini): {'bootstrap': True, 'criterion': 'gini', 'max_depth': None, 'max_features': 10, 'min_samples_leaf': 8, 'min_samples_split': 2} with score: 0.6354
2025-02-13 02:33:58,077 - INFO - Evaluating model performance

In [19]:
results_df

,Model,Accuracy,Precision,Recall,F1 Score
0,Logistic Regression (L1),0.561977,0.575963,0.705913,0.634351
1,SVM (Linear),0.568398,0.577832,0.735477,0.647193
2,SVM (RBF),0.591569,0.605730,0.690871,0.645505
3,Random Forest (n=100),0.621720,0.640098,0.678942,0.658948
4,"Random Forest (n=100, GSx2 + Entropy)",0.625070,0.640828,0.690353,0.664669
5,"Random Forest (n=100, GSx2 + Gini)",0.630932,0.646236,0.694502,0.669500

In [20]:
y_pred, _, _, _, _ = md.evaluate_performance(model_rf_gs_gini, X_test_scaled, y_test)

2025-02-13 02:35:31,471 - INFO - Evaluating model performance

In [22]:
dv.plot_confusion_matrix(y_test, y_pred)

2025-02-13 02:36:22,781 - INFO - Confusion matrix saved to ../graphs\confusion_matrix.png

array([[ 921,  733],
       [ 589, 1339]], dtype=int64)

In [29]:
# create new users according to y_test
new_users = users.loc[y_test.index]

In [32]:
import pandas as pd

if users is not None:
        final_results = pd.concat([new_users.reset_index(drop=True),
                                   y_test.reset_index(drop=True)], axis=1)
        final_results.columns = ['entry_id', 'e_signed']
        final_results['predictions'] = y_pred
        final_results.to_csv('../data/final_results.csv', index=False)
        print("Final results saved to final_results.csv")

Final results saved to final_results.csv